---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import { ViewTransitions } from 'astro:transitions';
---

<BaseLayout title="About | Zekra" description="About Zekria">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content flex flex-col gap-y-10">
					<ul>
						<li class="role-title">Lolartify, Software Engineer </li>
						<ul class="points">
							<li>Developed a text-to-image model using Stable Diffusion 1.5 as a base model for training the images, leveraging a custom dataset of League of Legends characters.</li>
							<li>Utilized Next.js to build a full-stack web application, allowing users to seamlessly interact with the model and generate images.</li>
							<li>Implementing front-end components within the application to facilitate user input, image display, and interaction, enhancing the overall user experience.</li>
							<li>Creating a robust backend infrastructure to efficiently process text prompts and generate images using the model's capabilities.</li>
							<li>Ensuring a smooth integration between front-end and back-end components, guaranteeing a seamless user experience throughout the application.</li>							
						</ul>
					</ul>
					<ul>
						<li class="role-title">ODME Solutions, Software Engineer </li>
						<ul class="points">
							<li>Designed and developed multiple backend services and interfaces in Java to synchronize data between different tracking systems, utilizing REST, SOAP, and JMS</li>
							<li>Implemented a filtering feature to seamlessly integrate the existing system with an external system, enhancing data exchange and compatibility</li>
							<li>Significantly optimized processing time from 20ms to 0.5ms by implementing a custom XML parser, facilitating efficient communication with an external backend system responsible for tracking ship information</li>
							<li>Employed Docker to containerize applications, ensuring consistency and portability, and successfully deployed them on the OpenShift platform</li>
							<li>Implemented comprehensive unit testing strategies to ensure the quality and functionality of software applications.</li>
							<li>Proficiently documented system design and features using LaTeX, effectively communicating technical information to stakeholders in a clear and organized manner</li>
							<li>Actively participated in agile development methodologies, including sprint planning, stand-up meetings, and retrospective sessions, to ensure a timely delivery</li>
						</ul>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Projects</h2>
				<div class="content">
					<ul>
						<li>TFT Analytics</li>
						<ul class="points">
							<li>Web app for reviewing a player’s match history in the popular game Teamfight Tactics</li>
							<li>Designed and developed REST API endpoints using Flask to facilitate seamless communication with the game developer's API, enabling efficient retrieval of players' information</li>
							<li>Collaborated with the frontend team to enhance logic in React, resulting in a reduction of three redundant API calls and improving overall system performance</li>
							<li>Optimized website loading time by implementing a CDN (Content Delivery Network) configuration for efficient transfer of image assets. Utilized Amazon Web Services S3 and CloudFront to streamline asset delivery and enhance user experience</li>
						</ul>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>University of California, San Diego</li>
						<ul class="points">
							<li>B.S. in Cognitive Science w/ focus in Machine Learning - GPA 3.52</li>
							<li>Minor in Computer Science - GPA 3.50</li>
						</ul>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Java, Python, JavaScript, HTML/CSS,  C++, SQL, Git, React, Flask, Jira, Bitbucket, IntelliJ, Jenkins</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.points {
		list-style-type: circle;
		font-size: 1rem; /* 16px */
		line-height: 1.5rem; /* 24px */
	}

	/* .points li {
		text-indent: 2rem;
	} */

	.content ul {
		gap: 3.5rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
