



<div class="midi" id="section1">
    <midi-visualizer
    type="staff"
    id="myVisualizer"
    src="https://res.cloudinary.com/drs9gdzl5/video/upload/v1708384446/zzelanvldpsyyv2owj3c.midi"
    class="midi"
    />
    <midi-player
        src="https://res.cloudinary.com/drs9gdzl5/video/upload/v1708384446/zzelanvldpsyyv2owj3c.midi"
        visualizer=".midi"
        class="midi"
    />

</div>

<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>

