---
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

const imgs = [
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321234/lolartify/ylbffryr3fa5viiyrc8v.jpg',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321241/lolartify/zcprjokppfgnsqfec2jx.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321245/lolartify/cykzsdlsisxvnfjm4ax8.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321255/lolartify/dbalklwbk1bjxd77fxox.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321256/lolartify/trm4xkmuzqvrsy4nvxu4.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321256/lolartify/lzenzcz9yoiqt4zsoelh.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321260/lolartify/znwq6rytullmbdcc9ydh.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321271/lolartify/enduywip9dlea2z1okcc.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321272/lolartify/leozqvx2ficshx3u3hln.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321274/lolartify/vhpo7llngrorzcofkmnq.png',
    'https://res.cloudinary.com/drs9gdzl5/image/upload/v1708321233/lolartify/lbeyeyzbcsw5yo6bqadb.jpg'

];

const localImgs = [
    'public/assets/lolartify/ashe.jpg',
    'public/assets/lolartify/ahri1.jpg',
    'public/assets/lolartify/ahri2.png',
];


const paths = await Astro.glob('/public/assets/lolartify/*.{jpg,png,jpeg,gif}').then(files => {
    return files.map(file => file.default);
});
---

<div id="indicators-carousel" class="relative h-[36rem] w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-full overflow-hidden rounded-lg">
        { paths.map(img => (
            <div class="hidden  duration-1000 ease-in-out" data-carousel-item>
                <img 
                    src={img.src}
                    alt={'Image'}
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2  top-1/2 left-1/2"
                />
            </div> 
        ))}
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
